.chara {
	position: absolute;
	left: 124px;
	top: 322px;

	height: 137px;
	width: 235px;
}

.bubble {
	position: absolute;
	top: 108px;
	left: 12px;
	/*width: 20rem;*/
	/*height: 30rem;*/
	width: 262px;
	height: 289px;

	background-image: url("../images/baloon.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.bubble .box {
	padding: 25px 25px 0;
	font-size: 18px;
	/*font-weight: bold;*/
}
.bubble .box p {
	margin: 0 0 20px;
	padding: 0;
	line-height: 1.6;
}

.bubble #yes {
	background: url(../images/button__yes.png) 0 0 no-repeat;
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
}

.bubble #no {
	background: url(../images/button__no.png) 0 0 no-repeat;
	background-size: 87px 87px;
	margin-left: 10px;
	width: 87px;
	height: 87px;
}

/*フッター*/
.config {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: lightblue;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	padding-top: 1rem;
	padding-left: 1rem;
	color: white;
}

.chart {
	position: fixed;
	bottom: 0;
	right: 5rem;
	background-color: lightblue;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	padding-top: 1rem;
	padding-left: 1rem;
	color: white;
}